.login-page {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background-color: #f9a34e;

  height: 100vh;
}

.login-page h1 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 40px;
}

.cad-login-box {
  background-color: #f68632;
  padding: 40px 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.212);
}

.login-box label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  color: #1f1f1f;
}

.login-box input,
.login-box select,
.login-box textarea {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
  box-sizing: border-box;
  resize: none;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;
}

.form-button {
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #1f1f1f;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  background-color: #1f1f1f;
  transition: 0.3s;
}

.form-button:hover {
  background-color: transparent;
  color: black;
  border: 2px solid black;
}

p.return-msg {
  text-align: center;
  font-size: 14px;
}

.button-junto {
  display: flex;
  justify-content: space-between;
}

a {
  font-weight: 700;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

.lo-main-login {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #F80, #FFF8DC);
}

.image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 890px;
}

.lo-login-title {
  font-size: 42px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}

.lo-esq-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lo-dir-login {
  width: 70vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lo-box {
  width: 54%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background-color: rgb(248, 164, 67);
  border: 6px solid rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.466);
}

.lo-textfield {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 14px 0px;
  width: 100%;
}

.lo-textfield > label {
  color: rgb(0, 0, 0);
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 5px;
}

.lo-inputs {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background-color: #fff;
  font-size: 14pt;
  box-shadow: 10px 10px 50px rgba(255, 196, 119, 0);
  outline: none;
}

.lo-btn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  padding: 10px 14px;
  font-weight: 600;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  font-size: 16px;
}

.lo-btn:hover {
  background-color: rgb(48, 119, 201);
  color: aliceblue;
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.lo-p {
  font-size: 15px;
  text-align: center;
}

.return-msg {
  font-size: 14px;
  margin-bottom: 10px;
}
