@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

.page-container {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('/fundopetshop.png') no-repeat center center;
  background-size: cover;
  font-family: 'League Spartan', sans-serif;
}

.painel-container {
  width: 900px;
  height: 600px;
  display: flex;
  background-color: #f57c1f;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: #2d2d2d;
}

.painel-conteudo {
  flex: 1;
  background-color: #ffffff;
  padding: 30px 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.painel-conteudo h2 {
  font-size: 24px;
  font-weight: 700;
  color: #2d2d2d;
  text-align: center;
  margin-bottom: 20px;
}

.dado-label {
  color: #2d2d2d;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

.dado-info {
  background-color: #f5f5f5;
  color: #555;
  padding: 10px 16px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  font-size: 14px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.side {
  background-color: #27ae60;
  color: white;
  padding: 1rem 1.6rem;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.4rem;
  transition: background-color 0.3s;
  margin-top: 1.6rem;
  margin-right: 1rem;
  min-width: 30%;
}

.sidebar .sidebar-link:hover {
  background-color: #2dd4bf;
  color: white;
}
.side:hover {
  background-color: #1e8449;
}

.profile-cancel-button {
  background-color: #999;
  color: white;
  padding: 1rem 1.6rem;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.4rem;
  transition: background-color 0.3s;
  margin-top: 1.6rem;
  margin-right: 1rem;
  min-width: 30%;
}

.profile-cancel-button:hover,
.profile-cancel-button:focus-within {
  filter: brightness(0.8);
}

.links-acoes {
  margin-top: 3rem;
}

.profile-form-label {
  display: block;
  color: #000;
  font-weight: 700;
  font-size: 1.8rem;
  margin-top: 1.6rem;
  margin-bottom: 0.4rem;
}

[data-theme='dark'] .profile-form-label {
  color: #ffffff;
}

[data-theme='dark'] .painel-container {
  background-color: #1e1e1e;
  color: #f1f1f1;
}

[data-theme='dark'] .painel-conteudo {
  background-color: #2c2c2c;
  color: #f1f1f1;
}

[data-theme='dark'] .painel-conteudo h2 {
  color: #f1f1f1;
}

[data-theme='dark'] .dado-label {
  color: #ddd;
}

[data-theme='dark'] .dado-info {
  background-color: #3a3a3a;
  color: #e0e0e0;
}

[data-theme='dark'] button.side {
  background-color: #34d399;
  color: #fff;
}

[data-theme='dark'] .side:hover {
  background-color: #2dd4bf;
}
[data-theme='dark'] .sidebar .sidebar-link {
  background-color: #1e1e1e;
  color: #f1f1f1;
}
[data-theme='dark'] .sidebar .sidebar-link:hover {
  background-color: #2dd4bf;
  color: white;
}
